// Global unit (spacing, widths, heights etc)
$unit: 1rem;

// Colors
$color-primary: #2A29A4;
$color-primary-alt: #71B3D0;
$color-secondary: #FF5A5F;
$color-light-1: #FFFFFF;
$color-dark-1: #000000;
$color-white-40: rgba(255,255,255,0.4);
$color-white-60: rgba(255,255,255,0.6);
$color-white-90: rgba(255,255,255,0.9);
$color-black-05: rgba(0,0,0,0.05);
$color-black-10: rgba(0,0,0,0.1);
$color-black-20: rgba(0,0,0,0.2);
$color-black-40: rgba(0,0,0,0.4);
$color-black-60: rgba(0,0,0,0.6);
$color-black-80: rgba(0,0,0,0.8);

// Fonts
$font-family-book: 'circular-book';
$font-family-medium: 'circular-medium';
$font-family-bold: 'circular-bold';
$font-family-black: 'circular-black';

// Devices
$mobile: 414px;
$tablet: 768px;
$tablet-landscape: 1024px;
