@import '../../assets/scss/variable';
@import '../../assets/scss/mixin';

.library {
  $this: '.library';

  &__title{
    padding-bottom: #{$unit};
    border-bottom: #{$unit * .2} solid $color-light-1;
  }
  &__content{
  }
  &__item{
  }
}
