// font faces
@font-face {
  font-family: 'circular-medium';
  src: url('../fonts/EFCircularWeb-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'circular-book';
  src: url('../fonts/EFCircularWeb-Book.woff2') format('woff2');
}