// Global unit (spacing, widths, heights etc)
$unit: 1rem;

// Colors
$color-primary: blue;
$color-secondary: pink;

// Fonts
$font-family-book: 'EFCircularWeb-Book';
$font-family-medium: 'EFCircularWeb-Medium';
 